win32-build/bin
win32-build/Debug
win32-build/Win32
win32-build/SpaceInvater.dir
win32-build/lib
win32-build/engine/cocos/core/cocos2d.dir/Debug
win32-build/engine/external/external.dir/Debug
win32-build/.vs
*.filters
*.user
*.ipch
bin
cocos2d
win32-build/engine/external/tinyxml2/ext_tinyxml2.dir/Debug
win32-build/engine/external/recast/ext_recast.dir/Debug
win32-build/engine/external/unzip/ext_unzip.dir/Debug
win32-build/engine/external/poly2tri/ext_poly2tri.dir/Debug
win32-build/engine/external/xxhash/ext_xxhash.dir/Debug
win32-build/engine/external/xxtea/ext_xxtea.dir/Debug
win32-build/engine/external/md5/ext_md5.dir/Debug
win32-build/engine/external/edtaa3func/ext_edtaa3func.dir/Debug
win32-build/engine/external/clipper/ext_clipper.dir/Debug
win32-build/CMakeFiles/3.16.3/CompilerIdC/Debug
win32-build/CMakeFiles/3.16.3/CompilerIdCXX/Debug
win32-build/CMakeFiles/3.16.3/Debug